{% extends 'hgv/master3.html' %}

{% block content %}

{% load static %}

<style>
.container{
background-color: antiquewhite;
}
.bt2{

margin-left: 40%;
}
.bt1{

padding-right: 40%;
}
</style>
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
  <div class="form-group">
    <label for="exampleFormControlSelect1">User type</label>
    <select class="form-control" id="exampleFormControlSelect1" name="usertype">
      <option value="">please select</option>
      <option value="" id=>guides</option>
      <option value="" id=>hotels/restuarents</option>
    <option value="" id=>vehicles</option>     
      </select>
      </div> 
  <div class="row">
    <div class="col">
      <label for="exampleFormControlSelect1">Hotel name</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="col">
      <label for="exampleFormControlSelect1">Place(optional)</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="row">
      <div class="col">
        <label for="exampleFormControlSelect1">Price/day</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col">
        <label for="exampleFormControlSelect1">Star</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      </div>
    <div class="row">
      <div class="col">
        <label for="exampleFormControlSelect1">vehicle name</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col">
        <label for="exampleFormControlSelect1">vehicle id</label>
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="exampleFormControlSelect1">Price/day</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col">
        <label for="exampleFormControlSelect1">place</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">features </label>
        <textarea class="form-control"placeholder="" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="row">
          <div class="col">
            <label for="exampleFormControlSelect1">First name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="col">
            <label for="exampleFormControlSelect1">Last name</label>
            <input type="text" class="form-control" placeholder="">
          </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Address</label>
    <textarea class="form-control"placeholder="address" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Country</label>
    <select class="form-control" id="exampleFormControlSelect1">
    <option>india</option>
    <option>select your country</option>
    </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">contact number</label>
      <input type="text" name="" class="form-control" id="" placeholder="enter number">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Email</label>
        <input type="email" name="" id=""class="form-control" placeholder="enter email id">
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Uplode photos</label>
          <input type="file" name="" id="" class="form-control" placeholder="enter email id">
          </div>
          <a href=""><button type="button" class="btn btn-success bt1">Add</button></a>
          <a href="{% url 'hgv:hotelhome' %}"><button type="button" class="btn btn-success bt2">Go back</button></a>

</div>
</div>
</div>
{% endblock %}