{% extends 'hgv/master3.html' %}

{% block content %}

{% load static %}

<style>
.container{
background-color: antiquewhite;
}
.bt2{

margin-left: 40%;
}
.bt1{

padding-right: 40%;
}
</style>
<div class="container">
    <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
<div class="row">
    <div class="col">
      <label for="exampleFormControlSelect1">First name</label>
      <input type="text" id="name" class="form-control" name="firstname" placeholder="">
      <label for="" id="error1"></label>
    </div>
    <div class="col">
      <label for="exampleFormControlSelect1">Last name</label>
      <input type="text" id="secondname" name="secondname" class="form-control" placeholder="">
    <label for="" id="error2"></label>
    </div>
<div class="form-group">
<label for="exampleFormControlTextarea1">Address</label>
<textarea class="form-control" name="_address" placeholder="address" id="address" rows="3"></textarea>
<label for=""id="error3"></label>
</div>
<div class="form-group">
<label for="exampleFormControlSelect1">Country</label>
<select class="form-control" name="_country" id="countr_y">
  <label for="" id="error4"></label>

<option>select your country</option>
<option>india</option>

</select>
<label for="" id="error5"></label>
</div>
<div class="col">
    <label for="exampleFormControlSelect1">Price/day</label>
    <input type="text" class="form-control" id="price" placeholder="" name="_price">
    <label for=""id="error6"></label>
  </div>
<div class="form-group">
<label for="exampleFormControlTextarea1">contact number</label>
<input type="text" name="_contact" class="form-control" id="contact" placeholder="enter number">
<label for=""id="error7"></label>
</div>
<div class="form-group">
  <label for="exampleFormControlTextarea1">Email</label>
  <input type="email" name="_email" id="email"class="form-control" placeholder="enter email id">
  <label for=""id="error8"></label>
</div>
  <div class="row">
    <div class="col">
      <label for="exampleFormControlSelect1">Bank account number</label>
      <input type="text" id="bank"class="form-control" placeholder="account no" name="_accountno">
    <label for="" id="error9"></label>
    </div>
    <div class="col">
      <label for="exampleFormControlSelect1" >Ifsc code</label>
      <input type="text"id="ifsc" class="form-control"  placeholder="ifsc"name="_ifsc">
      <label for=""id="error10"></label>
    </div>
    <div class="col">
      <label for="exampleFormControlSelect1" id="label5">Bank name</label>
      <input type="text" class="form-control"id="bankname" placeholder="bank name"name="_bankname">
      <label for="" id="error11"></label>
    </div>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Upload photos</label>
    <input type="file" name="picture" id="photo" class="form-control" >
    <label for="" id="error12"></label>
    </div>
 
</div>

<div class="col-md-4"></div>
<div class="col-md-4">
<button class="btn btn-success bt1" onclick="return validation()">Add</button>
<a href="{% url 'hgv:guidehome' %}"><button  class="btn btn-success bt2">Go back</button></a>
<p>{{message}}</p>
</form>
</div>
</div>
</div>
 <script>
function validation(){
        var first_name=document.getElementById('name').value;
        var second_name=document.getElementById('secondname').value;
        var add_ress=document.getElementById('address').value;
        var count_ry=document.getElementById('countr_y').value;
        var p_rice=document.getElementById('price').value;
        var number=document.getElementById('contact').value;
        var ema_il=document.getElementById('email').value;
        var bank_account_no=document.getElementById('id').value;
        var ifsc_code=document.getElementById('ifsc').value;
        var bank_name=document.getElementById('bankname').value;
        var photos=document.getElementById('photo').value;
        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

          if(first_name==""){ 
              error1.innerHTML = "please enter name" ;
              error1.style.display = "block";
              error1.style.color = "red";
              name.style.borderColor = "red";
              flag=0;
           }  
          else{
              error1.style.display = "none";
              name.style.borderColor = "black";
              flag=1;
           }   
          if(add_ress==""){ 
              error3.innerHTML = "please enter Address" ;
              error3.style.display = "block";
              error3.style.color = "red";
              address.style.borderColor = "red";
              flag=0;
          }  
          else{
              error3.style.display = "none";
              address.style.borderColor = "black";
              flag=1;
          }   
          if(count_ry==""){ 
              error4.innerHTML = "please provide country" ;
              error4.style.display = "block";
              error4.style.color = "red";
              countr_y.style.borderColor = "red";
              flag=0;
          }  
          else{
              error4.style.display = "none";
              countr_y.style.borderColor = "black";
              flag=1;
          }   
          if(p_rice==""){ 
              error5.innerHTML = "please enter price" ;
              error5.style.display = "block";
              error5.style.color = "red";
              price.style.borderColor = "red";
              flag=0;
           }  
          else{
              error5.style.display = "none";
              price.style.borderColor = "black";
              flag=1;
           }
          if(number==""){ 
              error6.innerHTML = "please enter contact number" ; 
              error6.style.display = "block";
              error6.style.color = "red";
              contact.style.borderColor = "red";
              flag=0;
          }  
          else{
              error6.style.display = "none";
              contact.style.borderColor = "black";
              flag=1;
          }   
          if(photos==""){ 
              error11.innerHTML = "please provide image" ;
              error11.style.display = "block";
              error11.style.color = "red";
              photo.style.borderColor = "red";
              flag=0;
          }  
         else{
              error11.style.display = "none";
              photo.style.borderColor = "black";
              flag=1;
          }   
          if(ema_il==""){
              error7.innerHTML = "please enter email id" ;
              error7.style.display = "block";
              error7.style.color = "red";
              email.style.borderColor = "red";
              flag=0;
           }
         
          else{
              error7.style.display = "none";
              email.style.borderColor = "black";
              flag=1;
          } 
          if (!mailformat.test(ema_il)) {
              error7.innerHTML ="email is invalid";
              error7.style.display = "block";
              error7.style.color = "red";
              email.style.borderColor = "red";
              flag=0;
          } 
       
          else     
            {
              error7.style.display = "none";
              email.style.borderColor = "black";
              flag=1;
           }  
          if(flag==1){
            return true;
          }
          else{
            return false;
          }

}
</script> 


{% endblock %}