{% extends 'hgv/master3.html' %}

{% block content %}

{% load static %}

<style>
.container{
background-color: antiquewhite;
}
.bt2{

margin-left: 40%;
}
.bt1{

padding-right: 40%;
}
</style>
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <label for="exampleFormControlSelect1">vehicle name</label>
          <input type="text" name="_name" class="form-control" value="{{vehicle_data.vehicle_name}}" placeholder="">
        </div>
        <div class="col">
          <label for="exampleFormControlSelect1">vehicle id</label>
          <input type="text" class="form-control" value="{{vehicle_data.vehicle_id}}" placeholder="" name="i_d">
        </div>
      </div>
      <div class="row">
      <div class="col">
        <label for="exampleFormControlSelect1">model</label>
        <input type="text" name="m_odel" value="{{vehicle_data.model}}" class="form-control" placeholder="">
      </div>
        <div class="col">
          <label for="exampleFormControlSelect1">Price/day</label>
          <input type="text"name="p_rice" value="{{vehicle_data.price}}" class="form-control" placeholder="">
        </div>
        <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Address</label>
                <textarea class="form-control"  name="address_" placeholder="address" id="exampleFormControlTextarea1" rows="3">{{vehicle_data.address}}</textarea>
                </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">contact number</label>
            <input type="text" name="number_" value="{{vehicle_data.contact}}" class="form-control" id="" placeholder="enter number">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Email</label>
              <input type="email" name="email_" value="{{vehicle_data.email}}" id=""class="form-control" placeholder="enter email id">
              </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">features </label>
          <textarea class="form-control"  placeholder="" name="_features" id="exampleFormControlTextarea1" rows="3">{{vehicle_data.features}}</textarea>
          </div> 
          <div class="row">
            <div class="col">
              <label for="exampleFormControlSelect1" id="label3">Bank account number</label>
              <input type="text" id="text2" value="{{vehicle_data.account_no}}" class="form-control"id="" name="acnumber" placeholder="account no" name="_account_no">
              <label for=""id="error3"></label>
            </div>
            <div class="col">
              <label for="exampleFormControlSelect1" id="label4">Ifsc code</label>
              <input type="text"id="text3" value="{{vehicle_data.ifsc_code}}" class="form-control"  name="ifsc_" placeholder="ifsc"name="_ifsc_code">
              <label for=""id="error4"></label>
            </div>
            <div class="col">
              <label for="exampleFormControlSelect1" id="label5">Bank name</label>
              <input type="text"value="{{vehicle_data.bank_name}}" name="_bank" class="form-control"id="text4" placeholder="branch name"name="_branch_name">
            
            </div>
          </div> 
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Uplode photos</label>
            <input type="file" value="{{vehicle_data.vehicle_image}}" name="phtov" id="" class="form-control">
            </div>

            <a href=""><button  id="button1" class="btn btn-success" >Update</button></a>
          
          <a href="{% url 'hgv:vehiclehome' %}"><button id="button3" class="btn btn-success" >Go back</button></a>
      
                  
  



        </form>












</div>
</div>
</div>
{% endblock %}
