{% extends 'hgv/master3.html' %}

{% block content %}

{% load static %}
<style>
.container{
background-color: bisque;
}
button{
margin-left:80%;
    
}
</style>
    
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
<a href="{% url 'hgv:guidehome' %}"><button type="button" class="btn btn-success" >Go back</button></a>
      </div>
      {% for guide in guide_data %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/media/{{guide.gui_image}}" class="img-fluid rounded-start" alt="" width="150px" height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{guide.first_name}} </h5>
              <p class="card-text">{{guide.Address}}</p>
              <a href="{% url 'hgv:editguide' guide.id %}"><button class="btn btn-success">Edit</button></a>
              <a href="{% url 'hgv:delete_guide' guide.id %}"><button class="btn btn-danger">Delete</button></a>
              
            </div>
          </div>
        </div>
      </div> 
    
    {% endfor %}
    </div>
    </div>


{% endblock  %}