{% extends 'hgv/master3.html' %}

{% block content %}

{% load static %}
<style>
.container{
  background-color: bisque;
}
button{
  margin-left:80%;

}
#buton1{
  margin-left: 40%;
}


</style>
<div class="container">
<div class="row">

  <a href="{% url 'hgv:hotelhome' %}"><button type="button" class="btn btn-success" >Go back</button></a>
  {% for hotel in hotel_data %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/media/{{hotel.hotel_image}}" class="img-fluid rounded-start" alt="" width="150px" height="200px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{hotel.hotel_name}}</h5>
          <p class="card-text">{{hotel.room_type}}<br>{{hotel.Address}} <br>
            {{hotel.features}}</p>
          <a href="{% url 'hgv:edithotel' hotel.id %}"><button class="btn btn-success">Edit</button></a>
          <a href="{% url 'hgv:delete_hotel' hotel.id %}"><button class="btn btn-danger">Delete</button></a>
          
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}
























