{% extends 'hgv/master3.html' %}

{% block content %}

{% load static %}
<style>
    .container{
      background-color: bisque;
    }
    button{
      margin-left:80%;
    
    }
    
    
    
    </style>
    <div class="container">
    <div class="row">
      <h1 class="display-6">Added vehicles</h1><a href="{% url 'hgv:vehiclehome' %}"><button type="button" class="btn btn-success" >Go back</button></a>
      {% for vehicle in vehicle_data %}
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;height: 250px;">
            <img src="/media/{{vehicle.vehicle_image}}" class="card-img-top" style="height:150px ;" alt="...">
            <div class="card-body">
              <p class="card-text"> <label for=""> name :</label>
            <input type="text" value="{{vehicle.vehicle_name}}" name="" id=""></p>
            
          
          
        </div>
          <a href="{% url 'hgv:editvehicle' vehicle.id %}"> <button type="button" class="btn btn-info">Edit</button></a>
        <a href="{% url 'hgv:delete_vehicles' vehicle.id %}"> <button type="button" class="btn btn-info">Delete</button></a> 
            
            </div>
            </div>
        {% endfor %}
        
        
        
    
    </div>
    </div>































{% endblock%}