{% extends 'hgv/master3.html' %}

{% block content %}

{% load static %}

<style>
    .container{
        background-color: aquamarine;

    }
    .pass{
        margin-top: 5%;
        margin-bottom: 5%;
        border:5px solid rgba(18, 1, 1, 0.415);
        background-color: rgb(198, 243, 243);
    }
    .prime{
        margin-left: 30%;
    
    }
    button{
        margin-bottom: 2%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3">

        </div>
        
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 pass">
            <h1>change password</h1>
            
            <form action="{% url 'hgv:vehicle_password' %}" method="post">
                {% csrf_token %}
            <input style="margin-top: 2%;" class="form-control" type="password" name="pa_ss" placeholder="old password" id=""><br><br>
            <input class="form-control" type="password" name="passwo_rd" placeholder="new password" id=""><br><br>
            <input class="form-control" type="password" name="" placeholder="confirm password" id=""><br><br>
            <button  class="btn btn-info prime">update</button>
          <button  class="btn btn-info">cancel</button>
        </form>
        </div>
    </div>
</div>



{% endblock %}