{% extends 'admin1/master4.html' %}

{% block content %}

{% load static %}
<style>
  .container{
    background-color: antiquewhite;
  }
  .display-6{
    color: rgb(241, 14, 215);
  }
</style>


<div class="container">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
        <a href="{% url 'admin1:activeguides' %}">  <button class="btn btn-success">Accepted list</button></a>
      <a href="{% url 'admin1:rejectedguide' %}"><button  class="btn btn-danger">Rejected list</button></a>
      </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="display-6">Requests</h1>
            <table class="table table-dark">
                <thead>
                  <tr>
                    {% for guide in guides %}
                    <th scope="col">guide name  </th>
                    <th scope="col"> gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Bank details<br> Account no <br>Ifsc</th>
                    <th scope="col">Request date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                 
                  <form action="" method="post">
                    {% csrf_token %}
                  <tr>
                    <td>{{guide.first_name}} <br> {{guide.last_name}}</td>
                    <td>{{guide.gender}}</td>
                    <td>{{guide.email}}</td>
                    <td>{{guide.address}}</td>
                    <td>{{guide.mobile}}</td>
                    <td>{{guide.account_number}}<br>{{guide.ifsc_code}}</td>
                    <td>{{guide.request_date|date:'Y-m-d'}} </td>
                    
                   
                    <td><button name="approve" class="btn btn-info">Accept</button>
                        <button  name="reject" class="btn btn-info">Reject</button>
                    </td>
                    <td><input type="hidden" name="guide_id" value="{{guide.id}}"></td>
                  </tr></form>
                  {% endfor %}
                  
                  
                </tbody>
              </table>
        </div>
        
        










    </div>
</div>












{% endblock %}