{% extends 'admin1/master4.html' %}

{% block content %}

{% load static %}
<style>
  .container{
    background-color: antiquewhite;
  }
  .display-6{
    color: rgb(241, 14, 215);
  }
</style>


<div class="container">
    <div class="row">
      <button type="button" class="btn btn-success">
        Log Out
      </button>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="display-6">Requests</h1>
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">guide name </th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Bank details <br>Holder name <br> Account no <br>Ifsc</th>
                    <th scope="col">Request date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ryan</td>
                    <td>risha@gmail.com</td>
                    <td>koyilandy</td>
                    <td>64743383743</td>
                    <td>risha <br>637182173812918 <br> 67363</td>
                    <td>march 10,2021 <br>
                    9:53 pm
                    </td>
                    <td><button type="button" class="btn btn-info">Accept</button>
                        <button type="button" class="btn btn-info">Reject</button>
                    </td>
                  </tr>
                  <tr>
                    <td>peter</td>
                    <td>risha@gmail.com</td>
                    <td>koyilandy</td>
                    <td>64743383743</td>
                    <td>risha <br>637182173812918 <br> 67363</td>
                    <td>march 10,2021 <br>
                    9:53 pm
                    </td>
                    <td><button type="button" class="btn btn-info">Accept</button>
                        <button type="button" class="btn btn-info">Reject</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="display-6">Accepted Requests</h1>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">guide name </th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Mobile</th>
                <th scope="col">Bank details <br>Holder name <br> Account no <br>Ifsc</th>
                <th scope="col">Request date</th>
                <th scope="col">status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ryan</td>
                <td>risha@gmail.com</td>
                <td>koyilandy</td>
                <td>64743383743</td>
                <td>risha <br>637182173812918 <br> 67363</td>
                <td>march 10,2021 <br>
                9:53 pm
                </td>
                <td>Active</td>
                
              </tr>
              <tr>
                <td>peter</td>
                <td>risha@gmail.com</td>
                <td>koyilandy</td>
                <td>64743383743</td>
                <td>risha <br>637182173812918 <br> 67363</td>
                <td>march 10,2021 <br>
                9:53 pm
                </td>
                <td>Active</td>
              
              </tr>
              
            </tbody>
          </table>
  </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="display-6">Rejected Requests</h1>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">guide name </th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col">Mobile</th>
              <th scope="col">Bank details <br>Holder name <br> Account no <br>Ifsc</th>
              <th scope="col">Request date</th>
              <th scope="col">status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ryan</td>
              <td>risha@gmail.com</td>
              <td>koyilandy</td>
              <td>64743383743</td>
              <td>risha <br>637182173812918 <br> 67363</td>
              <td>march 10,2021 <br>
              9:53 pm
              </td>
              <td>Rejected</td>
              
            </tr>
            <tr>
              <td>peter</td>
              <td>risha@gmail.com</td>
              <td>koyilandy</td>
              <td>64743383743</td>
              <td>risha <br>637182173812918 <br> 67363</td>
              <td>march 10,2021 <br>
              9:53 pm
              </td>
              <td>Rejected</td>
            
            </tr>
            
          </tbody>
        </table>







</div>















    </div>
</div>












{% endblock %}