{% extends 'admin1/master4.html' %}

{% block content %}

{% load static %}
<style>
  .container{
    background-color: antiquewhite;
  }
  .display-6{
    color: rgb(241, 14, 215);
  }
</style>


<div class="container">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
        <a href="{% url 'admin1:activehotels' %}">  <button class="btn btn-success">Accepted list</button></a>
      <a href="{% url 'admin1:rejectedhotels' %}"><button  class="btn btn-danger">Rejected list</button></a>
      </div>
      
      <h1 class="display-6">Requests</h1>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-dark">
                <thead>
                  {% for hotel in hotels %}
                  <tr>
                    <th scope="col">hotel name & <br> registration Id </th>
                    <th scope="col">reg year</th>
                    <th scope="col">Email</th>
                    
                    <th scope="col">Address</th>
                    <th scope="col">country</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Bank details<br> Account no <br>Ifsc</th>
                    <th scope="col">Request date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  
                  <form action="" method="post">
                    {% csrf_token %}
                  <tr>
                    <td>{{hotel.companyname}} <br> {{hotel.reg_id}}</td>
                    <td>{{hotel.reg_year}}</td>
                    <td>{{hotel.email}}</td>
                    <td>{{hotel.address}}</td>
                    <td>{{hotel.country}}</td>
                    <td>{{hotel.mobile}}</td>
                    <td>{{hotel.account_number}}<br>{{hotel.ifsc_code}}</td>
                    <td>{{hotel.request_date|date:'Y-m-d'}} <br>
                    
                    </td>
                    
                    <td><button name="approve" class="btn btn-info">Accept</button>
                        <button name="reject" class="btn btn-info">Reject</button>
                    </td>
                    <td><input type="hidden" name="hotel_id" value="{{hotel.id}}"></td>
                  </tr>
                  </form>
                  {% endfor %}
                  
                </tbody>
              </table>




        </div>
        
        
    </div>
</div>










{% endblock %}