{% extends 'user/master1.html' %}


{% block content %}

{% load static %}

<div class="container" style="background-color: rgb(181, 95, 151);">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="mb-3">
            <form action="" method="post">
              {% csrf_token %}
            <label for=""><h3> date  : </h3></label>
          <input type="date" class="form-control" name="firstdate" id=""  ><br>
          <label for=""><h3>return date : </h3></label>
          <input type="date" class="form-control" name="lastdate" id=""  ><br>
          <label for=""><h3>no of days : </h3></label>
          <input class="form-control form-control-lg"  type="text" name="day_s" id="" placeholder="">
          <br>
          
          <a href="">  <button class="btn btn-warning btn-lg">  Confirm booking</button></a>
          
          </div>
        </form> 
    </div>
</div>









{% endblock %}