{% extends 'user/master.html' %}

{% block content %}

{% load static %}
<style>
    .container{
        background-color: rgb(191, 132, 192);
    }
</style>



<div class="container">
    <div class="row">

   
<form action="" method="post">
    {% csrf_token %}

    <h1>otp verification</h1>
<p>an otp  send to your gmail account please verify </p>
<label for=""> enter your otp :</label>
<input type="text" name="otp_" id="">
<button>verify otp</button>
</form>
<p>{{message}}</p>
</div>
</div>



{% endblock %}