{% extends 'user/master.html' %}

{% block content %}

{% load static %}
<style>
    .container{
        background-color: rgb(191, 132, 192);
    }
</style>



<div class="container">
    <div class="row">

   
<form action="" method="post">
    {% csrf_token %}

    <h1> if you forget your password  ? </h1>

<label for="">please enter your username :</label>
<input type="email" name="user" id="">
 <a href="{% url 'user:email_verify' %}"><button>send otp</button></a>
</form>
<p>we send an otp for mail verification to your gmail account</p>




<p>{{message}}</p>
</div>
</div>



{% endblock %}