{% extends 'user/master1.html' %}


{% block content %}

{% load static %}
<style>
  .navbar{
    background-color: rgb(236, 224, 115);
   border: 5px solid rgb(118, 160, 56);
    }
    .display-6{
      color: rgb(243, 121, 234);
    }
</style>

<div style="background-color: rgb(203, 111, 176)" class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg" style="background-color:rgb(237, 207, 87);">
        <div class="container-fluid">
        <form>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <form action="" method="post">
            {% csrf_token %}
          
            <h2 class="display-6">WE ARE READY TO SERVE YOU</h2>
          
          <input  type="text" placeholder="Place" name="pla_ce" >
          <a class="nav-link active" href=""><button class="btn btn-success" type="submit" >Search</button></a>
        </form>
          
        
        
        </div>
        </div>
        
        </div>
        </form>
        </nav>
        
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          {% for guide in guide_data %}
            <div class="card" style="width: 16rem;">
                <img src="/media/{{guide.gui_image}}" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                  <h5 class="card-title">{{guide.first_name}}</h5>
                  <p class="card-text">
                    <label for="">Address</label><br> 
                   <input type="text" value="{{guide.address}}" name="" id="">
                </p>
                  <a href="{% url 'user:guideviews' guide.id %}" class="btn btn-primary">View</a>
                </div>
              </div>    
</div>


{% endfor %}
    </div>
</div>













{% endblock %}