{% extends 'user/master1.html' %}


{% block content %}

{% load static %}


<style>
.card{
  width:300px;

  }
</style>

<div class="container" style="background-color: rgb(186, 90, 186);">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <img src="/media/{{guide_data.gui_image}}" alt="" height="300px" width="250px">

        <br>
              <div class="form-floating mb-3">
                <input type="text" value="{{guide_data.first_name}} {{guide_data.second_name}} " class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput"> Name</label>
              </div>
              <br>
              <div class="form-floating mb-3">
                <input type="text"value="{{guide_data.price}}" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput"> price/day</label>
              </div>
              <br>
              
              <div class="form-floating mb-3">
                <input type="text" value="{{guide_data.contact}}" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput">contacts </label>
              </div>
              <br>
              
              <div class="form-floating mb-3">
                <input type="email" value="{{guide_data.email}}" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput"> email</label>
              </div>
              <br>
              <div class="form-floating mb-3">
                <textarea class="form-control" name="" id="" cols="30" rows="10">{{guide_data.Address}} {{guide_data.country}} </textarea>
                <label for="floatingInput"> Address</label>
              </div>

        <a href="{% url 'user:bookguide' %}"><button class="btn btn-lg btn-warning">Booking</button></a>

            

        
      
              <h1 class="display-6">Reviews</h1>
    
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">alakananda</h5>
                      <p class="card-text">thank you for your guiding.</p>
                      <a href="#" class="btn btn-primary">Reply</a>
                  </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">shiyas</h5>
                      <p class="card-text">i like your services.</p>
                      <a href="#" class="btn btn-primary">Reply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            </div>
            </div>
                  
</div>
                  
 </div>
</div>




{% endblock %}