{% extends 'user/master1.html' %}


{% block content %}

{% load static %}

<div class="container" style="background-color: rgb(186, 90, 186);">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="col">
                <div class="card">
                  <img src="{% static 'images/guide1.jpg' %}" class="card-img-top rounded-4" alt="..."height="250px" width="200px">
                  <div class="card-body rounded-4">
                    <h5 class="card-title">PETER</h5>
                    <p class="card-text"> <label for="">price :</label><input type="text" name="" id="" ><br><br>
                      <label for=""> rating:</label><input type="text" name="" id=""><br><br>
                      <label for=""> email :</label><input type="text" name="" id=""><br><br>
                      <label for=""> Phone :</label><input type="text" name="" id=""><br><br>
                  
                  
                  </div>
                </div>
              </div>    

                  

                  
              <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
                </div>
  
    <button type="button" class="btn btn-warning btn-lg"> <a href=""> send request</a></button>

    </div>
</div>




{% endblock %}