{% extends 'user/master1.html' %}

{% block content %}


{% load static %}
<style>
.container{
background-color: blanchedalmond;

}
.display-6{
    color: rgb(227, 111, 214);
}
.dropdown-menu{
    background-color: rgb(235, 247, 4);
}


</style>




<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12">  

<div class="dropdown-center d-grid gap-2">
    <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Travel With Me Provides
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'user:transportation' %}">Transportation near me</a></li>
      <li><a class="dropdown-item" href="{% url 'user:hotels' %}">Hotels near me</a></li>
      <li><a class="dropdown-item" href="{% url 'user:guides' %}">Guides near me</a></li>
    </ul>
  </div>







</div>

    
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
<h1 class="display-6">Explore the world with us </h1>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <a href="{% url 'user:packageview' %}"><img src=" {% static 'images/rajasthan.jpg' %}" alt=""height="200px"width="250px"></a>
        <a href="{% url 'user:packageview' %}"><h3>Rajasthan</h3></a></div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        
        <a href="{% url 'user:packageview' %}" class="card-link"><img src="{% static 'images/thaj.webp' %}" alt=""style="height="250px" width="250px"></a>
        <a href="{% url 'user:packageview' %}"><h3>Thaj mahal</h3></a></div>
      </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <a href="{% url 'user:packageview' %}"><img src=" {% static 'images/wayanad.jpg' %}"alt=""height="200px"width="250px"> </a>
        <a href="{% url 'user:packageview' %}"><h3>Wayanad</h3></a></div></div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4"> 
         <div class="card" style="width: 18rem;">
      <div class="card-body">
        <a href="{% url 'user:packageview' %}"><img src="{% static 'images/munnar.jpg' %}" alt="" height="200px"width="250px"></a>
      
        <a href="{% url 'user:packageview' %}"><h3>Munnar</h3></a></div></div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">    
        <div class="card" style="width: 18rem;">
      <div class="card-body">
      <a href="{% url 'user:packageview' %}"><img src="{% static 'images/jaipur.jpg' %}" alt=""height="200px"width="250px"></a>
      <a href="{% url 'user:packageview' %}"><h3>Jaipur</h3></a></div>
    </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">     
       <div class="card" style="width: 18rem;">
      <div class="card-body">
        <a href="{% url 'user:packageview' %}"><img src="{% static 'images/manali.jpg' %}" alt=""height="200px"width="250px"></a>
      <a href="{% url 'user:packageview' %}"><h3>Manali</h3></a>
    </div>
    </div>
  </div>
  






</div>
</div>

{% endblock %}