{% extends 'user/master1.html' %}


{% block content %}

{% load static %}

<div class="container" style="background-color: rgb(186, 90, 186);">
    <div class="row">

        

                
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    {% for hotel in hotel_data %}
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/media/{{hotel.hotel_image}}" class="img-fluid rounded-start" alt="" height="300px" width="200px" >
                  
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title">{{hotel.room_type}}</h5>
                    <br>
                    {{hotel.rooms}} <br>
                    {{hotel.price}} <br>
                    {{hotel.rooms}} <br> 
                    {{hotel.features}}
                    <a href="{% url 'user:bookinghotel' hotel.hotel_id.id %}"><button class="btn btn-warning">Booking</button></a> 
                  </div>
                </div>
              </div>
            </div>
          </div>             
          {% endfor %}
    
  
    

    </div>
</div>




{% endblock %}