{% extends 'user/master1.html' %}


{% block content %}

<style>
  .container{
    background-color: #cb69c7;
  }
  
  .navbar{
    background-color: rgb(236, 224, 115);
   border: 5px solid rgb(185, 110, 35);
    }
    .display-6{
      color: rgb(37, 169, 97);
    }
</style>



{% load static %}





 
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        
        
      <nav class="navbar navbar-expand-lg" style="background-color:rgb(237, 207, 87);">
        <div class="container-fluid">
        <form>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <h2 class="display-6">WE ARE READY TO SERVE YOU</h2>
          
          <a class="nav-link active" href=""><input class="form-control me-2" type="text" placeholder="Place" aria-label="Search"></a>
          <a class="nav-link active" href="{% url 'user:vehicleview' %}"><button class="btn btn-success" type="submit" >Search</button></a>
        </div>
        </div>
        
        </div>
        </form>
        </nav>
      
      </div>
      
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src=" {% static 'images/hot1.jpg' %}" class="img-fluid rounded-start" alt="..." >
        <label for="">review :</label>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">hotel citygate</h5>
          <label for="">place :</label><input type="text" name="" id=""><br><br>
          <label for=""> Star :</label><input type="text" name="" id=""><button type="button" class="btn btn-warning"><a href="{% url 'user:hotelview' %}">View</a> </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src=" {% static 'images/hot2.jpg' %}" class="img-fluid rounded-start" alt="..." >
        <label for="">review :</label>

        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">hotel Ryn</h5>
            <label for="">place :</label><input type="text" name="" id=""><br><br>
            <label for=""> Star :</label><input type="text" name="" id=""><button type="button" class="btn btn-warning"><a href="{% url 'user:hotelview' %}">View</a> </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src=" {% static 'images/hot3.jpg' %}" class="img-fluid rounded-start" alt="..." >
         
            <label for="">review :</label> </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">hotel Bathool</h5>
              <label for="">place :</label><input type="text" name="" id=""><br><br>
              <label for=""> Star :</label><input type="text" name="" id=""><button type="button" class="btn btn-warning"><a href="{% url 'user:hotelview' %}">View</a> </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src=" {% static 'images/hot4.webp' %}" class="img-fluid rounded-start" alt="..." >
            
              <label for="">review :</label></div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">hotel Corn Flakes</h5>
                <label for="">place :</label><input type="text" name="" id=""><br><br>
                <label for=""> Star :</label><input type="text" name="" id=""><button type="button" class="btn btn-warning"><a href="{% url 'user:hotelview' %}">View</a> </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src=" {% static 'images/HOT5.jpg' %}" class="img-fluid rounded-start" alt="..." >
                <label for="">review :</label></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">hotel Center Square</h5>
                  <label for="">place :</label><input type="text" name="" id=""><br><br>
                  <label for=""> Star :</label><input type="text" name="" id=""><button type="button" class="btn btn-warning"><a href="{% url 'user:hotelview' %}">View</a> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src=" {% static 'images/hot6.jpg' %}" class="img-fluid rounded-start" alt="..." >
                  <label for="">review :</label> </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">hotel Palace Villa</h5>
                    <label for="">place :</label><input type="text" name="" id=""><br><br>
                    <label for=""> Star :</label><input type="text" name="" id=""><button type="button" class="btn btn-warning"><a href="{% url 'user:hotelview' %}">View</a> </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>
</div>

{% endblock %}