{% extends 'user/master1.html' %}


{% block content %}

{% load static %}

<div class="container" style="background-color: rgb(194, 101, 177);">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12"> 
          <h1>HONEY MOON PACKAGES</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card">
                    <img src="{% static 'images/thaj.webp' %}" class="card-img-top rounded-4" alt="..."height="250px" width="250px">
                    <div class="card-body">
                      <h5 class="card-title">THAJ MAHAL</h5>
                      <p class="card-text"><form action="">
                        <label for=""> Days :</label><input type="text" name="" id="" ><br><br>
                        <label for=""> Stay :</label><input type="text" name="" id=""><br><br>
                        <label for=""> Type :</label><input type="text" name="" id=""><br><br>
                        <label for=""> Price :</label><input type="text" name="" id=""><br><br>

                      </form>
                      <a href="{% url 'user:packageview' %}"><button type="button" class="btn btn-outline-success">View</button></a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'images/manali.jpg' %}" class="card-img-top rounded-4" alt="..."height="250px" width="200px">
                    <div class="card-body rounded-4">
                      <h5 class="card-title">MANALI</h5>
                      <p class="card-text"> <label for=""> Days :</label><input type="text" name="" id="" ><br><br>
                        <label for=""> Stay :</label><input type="text" name="" id=""><br><br>
                        <label for=""> Type :</label><input type="text" name="" id=""><br><br>
                        <label for=""> Price :</label><input type="text" name="" id=""><br><br>
                      <a href="{% url 'user:packageview' %}"><button type="button" class="btn btn-outline-success">View</button></a>
                    
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'images/wayanad.jpg' %}" class="card-img-top rounded-4" alt="" height="250px" width="200px">
                    <div class="card-body">
                      <h5 class="card-title">WAYANADU</h5>
                      <p class="card-text"> <label for=""> Days :</label><input type="text" name="" id="" ><br><br>
                        <label for=""> Stay :</label><input type="text" name="" id=""><br><br>
                        <label for=""> Type :</label><input type="text" name="" id=""><br><br>
                        <label for=""> Price :</label><input type="text" name="" id=""><br><br>
                      <a href="{% url 'user:packageview' %}"><button type="button" class="btn btn-outline-success">View</button></a>
                    
                    </div>
                  </div>
                </div>
                </div>
                <h1>HOLY DAY PACKAGES</h1><br>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12"> 
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card">
                            <img src="{% static 'images/rajasthan.jpg' %}" class="card-img-top rounded-4" alt="..."height="250px" width="250px">
                            <div class="card-body">
                              <h5 class="card-title">RAJASTHAN</h5>
                              <p class="card-text"><form action="">
                                <label for=""> Days :</label><input type="text" name="" id="" ><br><br>
                                <label for=""> Stay :</label><input type="text" name="" id=""><br><br>
                                <label for=""> Type :</label><input type="text" name="" id=""><br><br>
                                <label for=""> Price :</label><input type="text" name="" id=""><br><br>
        
                              </form>
                              <a href="{% url 'user:packageview' %}"><button type="button" class="btn btn-outline-success">View</button></a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="{% static 'images/munnar.jpg' %}" class="card-img-top rounded-4" alt="..."height="250px" width="200px">
                            <div class="card-body rounded-4">
                              <h5 class="card-title">MUNNAR</h5>
                              <p class="card-text"> <label for=""> Days :</label><input type="text" name="" id="" ><br><br>
                                <label for=""> Stay :</label><input type="text" name="" id=""><br><br>
                                <label for=""> Type :</label><input type="text" name="" id=""><br><br>
                                <label for=""> Price :</label><input type="text" name="" id=""><br><br>
                              <a href="{% url 'user:packageview' %}"><button type="button" class="btn btn-outline-success">View</button></a>
                            
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="{% static 'images/jaipur.jpg' %}" class="card-img-top rounded-4" alt="" height="250px" width="200px">
                            <div class="card-body">
                              <h5 class="card-title">JAIPUR</h5>
                              <p class="card-text"> <label for=""> Days :</label><input type="text" name="" id="" ><br><br>
                                <label for=""> Stay :</label><input type="text" name="" id=""><br><br>
                                <label for=""> Type :</label><input type="text" name="" id=""><br><br>
                                <label for=""> Price :</label><input type="text" name="" id=""><br><br>
                              <a href="{% url 'user:packageview' %}"><button type="button" class="btn btn-outline-success">View</button></a>
                            
                            </div>
                          </div>
                        </div>
                        </div>
        
        
        </div>
    </div>
</div>





{% endblock %}