{% extends 'user/master1.html' %}


{% block content %}

{% load static %}
<style>
  #p1 {
    padding-right: 200px;
  }

  #p2 {
    padding-right: 250px;
  }

  .modal-body {
    background-color: rgb(241, 221, 185);
  }

  #button1 {
    margin-left: 40%;
  }

  .form-control {
    background-color: rgba(164, 49, 143, 0.903);
  }
</style>
<div class="container" style="background-color: rgb(192, 95, 185);">
  <div class="row">
    <form action="{% url 'user:profiles' %}" method="post">
      {% csrf_token %}
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <img src="{% static 'images/prof1.jpg'%}" class="rounded-circle" style="margin-left:40%;" alt="...">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12">


          <table class="table table-striped">
            <tr>
              <th>First name</th>
              <td><input type="text" class="form-control" value="{{user_data.first_name}}" name="u_name" id=""></td>
            </tr>
            <tr>
              <th>Last name</th>
              <td><input type="text" class="form-control" value="{{user_data.last_name}}" name="u_lname" id=""></td>
            </tr>
            <tr>
              <th>Gender</th>
              <td><input type="text" class="form-control" value="{{user_data.gender}}" name="u_gen" id=""></td>
            </tr>
            <tr>
              <th>Date of birth</th>
              <td><input type="date" class="form-control" value="{{user_data.dateofbirth|date:'Y-m-d'}}" name="u_db" id=""></td>
            </tr>
            <tr>
              <th>Mobile</th>
              <td><input type="text" class="form-control" value="{{user_data.mobilenumber}}" name="u_contact" id="">
              </td>
            </tr>
            <tr>
              <th>Email</th>
              <td><input type="email" class="form-control" value="{{user_data.email}}" name="u_email" id=""></td>
            </tr>
            <tr>
              <th>Address</th>
              <td><input type="text" class="form-control" value="{{user_data.address}}" name="u_address" id=""></td>
            </tr>
            
          </table>
          <br>

          <a href=""> <button class="btn btn-primary" id="button1">
              Edit
            </button></a>


    </form>

    <a href="{% url 'user:homepage' %}"><button type="button" id="button2" class="btn btn-primary">Logout</button></a>

  </div>
</div>
</div>




{% endblock %}