{% extends 'user/master.html' %}

{% block content %}

{% load static %}
<style>
    .container{
        background-color: rgb(191, 132, 192);
    }
</style>



<div class="container">
    <div class="row">

   
<form action="" method="post">
    {% csrf_token %}

    <h1>otp verification</h1>
<label for=""> enter your new password :</label>
<input type="password" name="pass_word" id=""><br><br>
<label for="">confirm your new password :</label>
<input type="password" name="p_assword" id=""><br><br>
<button>reset password</button>
</form>
<p>{{message}}</p>
</div>
</div>
{% endblock %}