{% extends 'user/master1.html' %}


{% block content %}

{% load static %}


<style>

.container{
    background-color: rgb(253, 172, 156);
}
.card{
    border:5px solid rgb(53, 22, 43)
}
.btn,.btn-outline-success{
width: 150px;
min-height:40px;
}
.navbar{
    background-color: rgb(236, 224, 115);
    border: 5px solid rgb(110, 143, 100);

    }
.display-6{
    color: rgb(53, 9, 9);
}
.form-control,.me-2{
    width:150px;
    padding-top: 2px;
}
</style>
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        
        
        <nav class="navbar navbar-expand-lg" style="background-color:rgb(237, 207, 87);">
          <div class="container-fluid">
          <form>
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <h2 class="display-6">WE ARE READY TO SERVE YOU</h2>
            
            <a class="nav-link active" href=""><input class="form-control me-2" type="text" placeholder="Place" aria-label="Search"></a>
            <a class="nav-link active" href=""><button class="btn btn-success" type="submit" >Search</button></a>
          </div>
          </div>
          
          </div>
          </form>
          </nav>
        
        </div>
        
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
  <h1 class="display-6">Rent a vehicle ?</h1>
</div>
{% for vehicle in vehicle_data %}
<div class="col-12 col-sm-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem;height: 300px;">
        <img src="/media/{{vehicle.vehicle_image}}" class="card-img-top"style="height:175px ;" alt="...">
        <div class="card-body">
          <p class="card-text"> <label for=""> model :</label>
        <input type="text" value="{{vehicle.model}}" name="" id=""></p></a>
       <a href="{% url 'user:vehicleviews' vehicle.id %}"><button class="btn btn-warning">View</button></a>
        </div>
        </div>
        </div>
    
      {% endfor %}  
        
    
    

</div>
</div>













{% endblock %}