{% extends 'user/master1.html' %}

{% block content %}

{% load static %}
<style>
.container{
  background-color: bisque;
}

</style>





<div class="container">
    <div class="row">

 <div class="col-12 col-sm-12 col-md-6 col-lg-6">
  {% for vehicle in vehicle_data %}
<div class="card mb-3" style="max-width: 540px;">
<div class="row g-0">
<div class="col-md-4">
<img src="/media/{{vehicle.vehicle_image}}" class="img-fluid rounded-start" alt="" height="300px" width="200px" >

</div>
<div class="col-md-8">
<div class="card-body">
  <h3 class="card-title">{{vehicle.model}}</h5>
  <br>
  {{vehicle.price}} <br>
   <br>
  {{vehicle.features}} <br> 
  
  <a href="{% url 'user:bookvehicle' vehicle.id %}"><button class="btn btn-warning">Booking</button></a> 
</div>
</div>
</div>
</div>
</div>             
{% endfor %} 

    </div>
</div>

{% endblock %}
 




