{% extends 'user/master1.html' %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
<nav class="navbar navbar-expand-lg" style="background-color:rgb(237, 207, 87);">
    <div class="container-fluid">
    <form>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        
      <a class="nav-link active" aria-current="page" href=""><input class="form-control me-2" type="date" placeholder="" aria-label="Search"></a>
    
      <a class="nav-link active" href=""><input class="form-control me-2" type="date" placeholder="" aria-label="Search"></a>
      <a class="nav-link active" href=""><input class="form-control me-2" type="text" placeholder="pick up location " aria-label="Search"></a>
      <a class="nav-link active" href=""><input class="form-control me-2" type="text" placeholder="price per day" aria-label="Search"></a>
      <a class="nav-link active" href="{% url 'user:vehicleview' %}"><button class="btn btn-success" type="submit" >Search</button></a>
      
      
    
    
    </div>
    </div>
    
    </div>
    </form>
    </nav>
    
    
    
    </div>



</div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    
        <nav class="navbar navbar-expand-lg" style="background-color:rgb(237, 207, 87);">
        <div class="container-fluid">
        <form>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            
          <a class="nav-link active" aria-current="page" href=""><input class="form-control me-2" type="date" placeholder="" aria-label="Search"></a>
        
          <a class="nav-link active" href=""><input class="form-control me-2" type="time" placeholder="" aria-label="Search"></a>
          <a class="nav-link active" href=""><input class="form-control me-2" type="text" placeholder="pick up location " aria-label="Search"></a>
          <a class="nav-link active" href=""><input class="form-control me-2" type="text" placeholder="return place" aria-label="Search"></a>
          <a class="nav-link active" href="{% url 'user:vehicleview' %}"><button class="btn btn-success" type="submit" >Search</button></a>
          
          
        
        
        </div>
        </div>
        
        </div>
        </form>
        </nav>
        
        
        
        </div>









    </div>
</div>

{% endblock %}
 




